

body{
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #f5f3f3;
    color: #333;
}



header{
    background: #1f7a8c;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    box-shadow: 0 0 5px rgb(196, 196, 196);
}

.logo{
    width: 140px;
    margin-bottom: 5px;
}

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

nav a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: #d4ffd4;
}



a{
    text-decoration: none;
    color: white;
}



h2{
    text-align: center;
    padding: 0 10px;
}



.hotbar{
    display: flex;
    flex-direction: column;
    gap: 15px;
}



.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

.card{
    border-radius: 10px;
    box-shadow: 1px 2px 3px black;
    background-color: #1f7a8c;
    padding: 15px;
    color: white;
    width: 100%;
    box-sizing: border-box;
    transition: transform 0.5s ease;
}

.card:hover{
    transform: scale(1.03);
}


.acoes a{
    border-radius: 10px;
    padding: 5px 10px;
    display: inline-block;
    box-shadow: 0px 0px 10px black;
}

.editar{
    background-color: #00a651;
}

.excluir{
    background-color: red;
}



form{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
}

input{
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



footer{
    background-color: #1f7a8c;
    text-align: center;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 1px 5px 3px rgb(196, 196, 196);
}

footer p{
    color: black;
}

.vazio{
    padding: 20px;
}



@media (min-width: 768px){

    header{
        flex-direction: row;
        justify-content: space-between;
    }

    nav{
        flex-direction: row;
    }

    .cards{
        flex-direction: row;
        flex-wrap: wrap;
    }

    .card{
        width: 300px;
    }
}



@media (min-width: 1024px){

    .cards{
        justify-content: flex-start;
        padding-left: 50px;
    }

    .card{
        width: 250px;
    }

    .logo{
        width: 175px;
    }

    nav a{
        margin-left: 25px;
    }

    .vazio{
        margin-left: 50px;
    }
}
